# 누락 데이터 처리

## 누락값 (NaN)

In [ ]:
from numpy import NaN

In [ ]:
print(NaN == 0)

In [ ]:
print(NaN == '')

In [ ]:
print(NaN == NaN)

In [ ]:
from numpy import NaN
import pandas as pd

print(pd.isnull(NaN))
print(pd.isnull('abc'))
print(pd.isnull(123))

In [ ]:
print(pd.notnull(NaN))
print(pd.notnull('abc'))
print(pd.notnull(123))

## 누락 데이터 확인

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.info()

In [ ]:
column_age = titanic['deck'].value_counts(dropna = False)
column_embark_town = titanic['embark_town'].value_counts(dropna = False)
print(column_age)
print('\n')
print(column_embark_town)

In [ ]:
titanic.isnull()

In [ ]:
titanic.isnull().sum(axis=0)

## 누락 데이터 제거

In [ ]:
# NaN 값이 300개 이상 존재하는 열을 모두 삭제

titanic_threshold = titanic.dropna(axis=1, thresh=300)

In [ ]:
titanic_threshold

In [ ]:
# age 값이 NaN인 데이터는 모두 삭제
# 데이터 개수는 총 891개 => 714개

titanic_age = titanic.dropna(subset=['age'], how='any', axis=0)

In [ ]:
titanic_age

## 누락 데이터 치환

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic['age'].head(7))

In [ ]:
titanic['age'].fillna(0, inplace=True)
print(titanic['age'].head(7))

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic['age'].head(7))

In [ ]:
mean_age = round(titanic['age'].mean())
titanic['age'].fillna(mean_age, inplace=True)
print(titanic['age'].head(7))

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
print(titanic['embark_town'][60:65])
print('\n')

embark_town_counts = titanic['embark_town'].value_counts(dropna=True)
print(embark_town_counts)

In [ ]:
most_freq = embark_town_counts.idxmax()
print(most_freq)
print('\n')

titanic['embark_town'].fillna(most_freq, inplace=True)
print(titanic['embark_town'][60:65])

# 중복 데이터 처리

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'col1': ['a', 'a', 'b', 'b', 'a', 'a', 'a'],
    'col2': [1, 1, 2, 1, 1, 3, 1],
    'col3': [1, 1, 2, 2, 2, 1, 2]
})
print(df)
print('\n')
df_duplicate = df.duplicated()
print(df_duplicate)

In [ ]:
df = pd.DataFrame({
    'col1': ['a', 'a', 'b', 'b', 'a', 'a', 'a'],
    'col2': [1, 1, 2, 1, 1, 3, 1],
    'col3': [1, 1, 2, 2, 2, 1, 2]
})
print(df)
print('\n')

col_duplicate = df['col2'].duplicated()
print(col_duplicate)

## 중복 데이터 제거

In [ ]:
df = pd.DataFrame({
    'col1': ['a', 'a', 'b', 'b', 'a', 'a', 'a'],
    'col2': [1, 1, 2, 1, 1, 3, 1],
    'col3': [1, 1, 2, 2, 2, 1, 2]
})
print(df)
print('\n')
df_duplicate = df.drop_duplicates()
print(df_duplicate)

In [ ]:
df = pd.DataFrame({
    'col1': ['a', 'a', 'b', 'b', 'a', 'a', 'a'],
    'col2': [1, 1, 2, 1, 1, 3, 1],
    'col3': [1, 1, 2, 2, 2, 1, 2]
})
print(df)
print('\n')
df_duplicate = df.drop_duplicates(['col2', 'col3'])
print(df_duplicate)

# 판다스 자료형

## 자료형 다루기

In [ ]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

In [ ]:
tips.info()

In [ ]:
tips['sex_string'] = tips['sex'].astype(str)
tips.info()

In [ ]:
tips['size'] = tips['size'].astype(str)
tips.info()

In [ ]:
tips['size']

In [ ]:
tips['size'][0]

In [ ]:
tips['size'] = tips['size'].astype(int)
tips.info()

In [ ]:
tips['size']

In [ ]:
tips['size'][0]

## 잘못 입력한 데이터 처리하기

In [ ]:
tips_new = tips
tips_new.loc[[1,3,5,7], 'total_bill'] = 'None'
tips_new.head(10)

In [ ]:
tips_new.info()

In [ ]:
tips_new['total_bill'].astype(float)

In [ ]:
pd.to_numeric(tips_new['total_bill'])

In [ ]:
tips_new['total_bill'] = pd.to_numeric(tips_new['total_bill'], errors='coerce')
tips_new.head(10)

## 카테고리 자료형

In [ ]:
tips['sex'] = tips['sex'].astype('category')
tips.head()

In [ ]:
tips['sex'].cat.categories

In [ ]:
tips['sex'].cat.codes[0:5]

### 데이터 크기 비교

In [ ]:
tips['sex'] = tips['sex'].astype('str')
tips.info()

In [ ]:
tips.head()

In [ ]:
tips['sex'] = tips['sex'].astype('category')
tips.info()

In [ ]:
tips.head()