In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# 데이터 치환 및 변형

## 함수 사용하여 데이터 변형

In [2]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
titanic['class'][:5]

0    Third
1    First
2    Third
3    First
4    Third
Name: class, dtype: category
Categories (3, object): ['First', 'Second', 'Third']

In [4]:
titanic['class'].str.lower()[:5]

0    third
1    first
2    third
3    first
4    third
Name: class, dtype: object

In [5]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
titanic['class'] = titanic['class'].str.lower()

In [ ]:
titanic['class'] = titanic['class'].map(lambda x: x.lower())

In [ ]:
titanic.head()

In [ ]:
class_map = {'first': 1, 'second':2, 'third':3}

In [ ]:
titanic['class'].map(class_map)[:5]

In [ ]:
titanic['class'] = titanic['class'].map(class_map)

In [ ]:
titanic.head()

## 값 치환하기 (replace)

In [ ]:
exam_data = {
    '국어':[50, 20, 0, 30], '수학':[90, 0, 80, 50],
    '영어':[100, 10, 90, 0], '음악':[0, 80, 100, 29]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '동현'])
df

In [ ]:
df['국어'].replace([0, 10, 20], 30)

In [ ]:
df['국어'].replace([0, 10, 20], [5, 15, 25])

In [ ]:
exam_data = {
    '국어':[100, 80, 0, 30], '수학':[90, 0, 80, 50],
    '영어':[100, 10, 90, 0], '음악':[0, 80, 100, 29]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '동현'])
df

In [ ]:
df.replace(0, 10)

In [ ]:
df.replace([30, 20, 10], 0)

## 특잇값 제외

In [ ]:
df = pd.DataFrame(np.random.randn(100, 4), columns = ['col1', 'col2', 'col3', 'col4'])
df.head()

In [ ]:
df.describe()

In [ ]:
col = df['col2']
col[np.abs(col) > 2]

In [ ]:
df.head()

In [ ]:
df[np.abs(df) > 2].head()

In [ ]:
df[(np.abs(df) > 2).any(1)][:5]

In [ ]:
df[np.abs(df) > 2] = np.sign(df) * 2

In [ ]:
df.head()

In [ ]:
df.describe()

## 데이터 샘플링

In [ ]:
df = pd.DataFrame(np.random.randn(100, 4), columns = ['col1', 'col2', 'col3', 'col4'])
df.head()

In [ ]:
sampler = np.random.permutation(100)
sampler

In [ ]:
df.take(sampler).head()

In [ ]:
df.sample(n=5)

In [ ]:
df.sample(frac=0.1)

In [ ]:
df.sample(n=10, replace=True)

In [ ]:
data = pd.Series([5, 10, -3, 1, -2, -5])
draws = data.sample(n=10, replace=True)
draws

# 연속형 데이터 범주화

## cut 메소드

In [ ]:
scores = [92, 48, 47, 83, 10, 48, 30, 52, 70, 92, 28, 83, 61, 43]
bins = [0, 20, 40, 60, 80, 100]

In [ ]:
cats = pd.cut(scores, bins)
cats

In [ ]:
scores

In [ ]:
cats.codes

In [ ]:
pd.value_counts(cats)

In [ ]:
pd.cut(scores, bins, right=False)

In [ ]:
scores = [92, 48, 47, 83, 10, 48, 30, 52, 70, 92, 28, 83, 61, 43]
bins = [0, 20, 40, 60, 80, 100]

In [ ]:
groups = ['Worst', 'Bad', 'Average', 'Good', 'Best']
cats = pd.cut(scores, bins, labels=groups)
cats

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

## 균등한 범위로 나누기

In [ ]:
data = np.random.rand(1000)
cats = pd.cut(data, 8, precision=2)

In [ ]:
cats.categories

In [ ]:
data[:10]

In [ ]:
cats.codes[:10]

In [ ]:
pd.value_counts(cats).sort_index()

In [ ]:
pd.value_counts(cats).sort_index().plot.bar()

In [ ]:
data = np.random.randn(1000)
cats = pd.cut(data, 8, precision=2)

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats).sort_index()

In [ ]:
pd.value_counts(cats).sort_index().plot.bar()

## 데이터 개수를 균등하게 나누기

In [ ]:
data = np.random.randn(1000)
cats = pd.qcut(data, 8, precision=2)

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats).sort_index()

In [ ]:
pd.value_counts(cats).sort_index().plot.bar()

# 더미 변수 사용하기

In [ ]:
df = pd.DataFrame({
    'col1': ['c', 'b', 'd', 'a', 'a', 'e'],
    'col2': [8, 2, 1, 5, 3, 2]
})
df

In [ ]:
pd.get_dummies(df['col1'])

In [ ]:
df

In [ ]:
dummies = pd.get_dummies(df['col1'])
df_new = df[['col2']].join(dummies)
df_new

## 영화 데이터 가공

In [ ]:
movies_df = pd.DataFrame({
    "id": [0,1,2,3,4,5],
    "name": ['movie1', 'movie2', 'movie3', 'movie4', 'movie5', 'movie6' ],
    "genre": ['comedy,fantasy', 'drama', 'comedy,drama',
             'thriller,action', 'action,fantasy', 'romance,drama']
})
movies_df

In [ ]:
genres = []

for x in movies_df['genre']:
    genres.extend(x.split(','))

genres = pd.unique(genres)
genres

In [ ]:
zero_matix = np.zeros((len(movies_df), len(genres)), dtype=np.int8)
dummies = pd.DataFrame(zero_matix, columns = genres)
dummies

In [ ]:
movie1_genre = movies_df['genre'][0]
movie1_genre

In [ ]:
movie1_genre.split(',')

In [ ]:
dummies.columns.get_indexer(movie1_genre.split(','))

In [ ]:
for i, genres in enumerate(movies_df['genre']):
    indices = dummies.columns.get_indexer(genres.split(','))
    dummies.iloc[i, indices] = 1

In [ ]:
dummies

In [ ]:
movies_df

In [ ]:
new_movies_df = movies_df.join(dummies)
new_movies_df

## cut 메소드를 사용한 더미

In [ ]:
data = np.random.rand(10)
data

In [ ]:
bins = [0, 0.25, 0.5, 0.75, 1]

In [ ]:
pd.cut(data, bins)

In [ ]:
dummy_data = pd.get_dummies(pd.cut(data, bins))
dummy_data