# 데이터 합치기 (concat)

concat 함수는 강의시간에 배운것 처럼 두 데이터프레임을 합치는 역할을 합니다. 주로 데이터프레임 구성이 같을 때 사용하며, 다를 경우 NaN 이 발생할 수 있으므로, 이에 대한 처리가 필요합니다.

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
) 

df2 = pd.DataFrame(
     {
         "A": ["A4", "A5", "A6", "A7"],
         "B": ["B4", "B5", "B6", "B7"],
         "C": ["C4", "C5", "C6", "C7"],
         "D": ["D4", "D5", "D6", "D7"],
     },
     index=[4, 5, 6, 7],
)


df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)
print(df1)
print(df2)
print(df3)

In [ ]:
# axis=0 으로 df1, df2를 합쳐보세요

In [ ]:
# axis=0 으로 df2, df3를 합쳐보세요

In [ ]:
# axis=0 으로 df1, df2, df3를 합쳐보세요

In [ ]:
df4 = pd.DataFrame(
    {
        "B": ["B2", "B3", "B6", "B7"],
        "D": ["D2", "D3", "D6", "D7"],
        "F": ["F2", "F3", "F6", "F7"],
    },
    index=[2, 3, 6, 7],
)

In [ ]:
# df1 과 df4를 axis=1로 합쳐보세요

In [ ]:
# df1 과 df4를 axis=1로 합쳐보세요. 이때 ignore_index=True로 합쳐보시고 위의 결과와 비교해보세요

# 데이터 병합 (merge)

아래의 실습부분을 차근히 따라하면서 데이터가 어떻게 합쳐지는지 눈으로 확인하세요

In [ ]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
# left와 right를 merge로 합쳐보세요. key는 key 열을 이용하세요 (outer join)

In [ ]:
# left와 right를 merge로 합쳐보세요. key는 key 열을 이용하세요 (inner join)

In [ ]:
# left와 right를 merge로 합쳐보세요. key는 key 열을 이용하세요 (left join)

In [ ]:
# left와 right를 merge로 합쳐보세요. key는 key 열을 이용하세요 (right join)
# 각 결과값들을 확인하고 비교해보세요

In [ ]:
left = pd.DataFrame( 
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

In [ ]:
# left와 right를 merge로 합쳐보세요. key는 key1 과 key2 열을 같이 이용하세요
# 위 과정처럼 outer, inner, left, right 방식을 모두 해보고 결과를 확인해보세요

# 그룹 통계량

In [ ]:
import seaborn as sns
data = sns.load_dataset('titanic')
data.head()

In [ ]:
groupby_survived = data.groupby(['survived'])
for key, group in groupby_survived:
    print('key ==', key)
    print('=========')
    print(group.loc[:,:'age'].head())

In [ ]:
group_0 = groupby_survived.get_group(0)
group_0.head()

In [ ]:
group_survived_sex = data.groupby(['survived','sex'])
for key, group in group_survived_sex:
    print('key ==', key)
    print('=========')
    print(group.loc[:,:'age'].head())

In [ ]:
group_survived_sex.describe()

In [ ]:
# 각 그룹에 mean, max, min, std를 구해보세요

In [ ]:
group_survived_sex.agg(['mean', 'max', 'min', 'std'])

In [ ]:
group_survived_sex.agg({'pclass': 'mean', 
                        'age' : ['mean', 'max', 'min']})

In [ ]:
group_survived_sex.filter(lambda x: x.age.mean() > 30)

In [ ]:
# 그룹화 된 데이터 프레임의 크기가 100개 이상인 그룹만 추출해보세요

In [ ]:
# 그룹화 된 데이터에서 sibsp 가 0.5보다 작은 그룹을 추출해보세요

In [ ]:
# 새롭게 그룹화를 하려합니다. class 와 성별(sex)에 따라 살아남은(survived) 사람들 수 차이를 보고싶습니다. 
# 기존 데이터(data)를 그룹화하고, 살아남은 숫자를 비교해보세요.